.fixture-row {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.75rem 1rem;
  min-height: 72px;
  background-color: #111318;
  border-radius: 0.5rem;
}

/* Logo */
.fixture-logo {
  width: 56px;
  height: 56px;
  border-radius: 0.5rem;
  background-color: #282e39;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

/* Text content */
/*.fixture-content {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  justify-content: center;*/
/*  min-width: 0;*/
/*}*/

.fixture-title {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.25rem;

  /* match line-clamp-1 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixture-subtitle {
  color: #9da6b9;
  font-size: 0.875rem;
  line-height: 1.25rem;

  /* match line-clamp-2 */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

}
